
<div>



  <div class="container">
    <div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/1418358/pexels-photo-1418358.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
      <h1>
        <span id="banner-typed-text"></span>
      </h1>
    </div>
  </div>

 <%= render 'card' %>

  <!-- cards -->


</div>
