.card-main {
  overflow: hidden;
  background: white;
  padding: 80px 50px;
  margin: 30px 0px;
}

.card-main h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-main p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.drink-name {
  h1 {
    color: #4A479B;
  }
  h4 {
    font-family: 'Kodchasan', 'sans-serif';
    color: #B4B4B4;
    font-size: 22px;
    font-weight: normal;
  }
}
